@import "tailwindcss";
@config "../tailwind.config.js";





  

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* 2. The Track: Holds all items in a row */
.carousel-track {
  display: flex;
  width: max-content; /* Critical: keeps items from wrapping */
  animation: scroll 20s linear infinite;
}





@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Moves exactly half-way */
  }
}

/* Optional: Stop scrolling when someone hovers */
.carousel-track:hover {
  animation-play-state: paused;
}