*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-image: url('https://ssit.co.in/images/hero/hero-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}